.promocao {
    display: flex;
    background-color: var(--verde-claro);
    color: white;
    width: 100vw;
    justify-content: center;
    font-size: 22px;
    align-items: center;
    
    
}

.imagem__promocao {
    margin-bottom: 15px;
    padding-right:10px;

}
.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container__botao:checked~.container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("../img/Menu_Aberto.svg");
}

.container__botao:checked~.container__rotulo {
    background: var(--verde-claro);
}

.cabecalho {
    background-color:var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    z-index: 1000;

}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.container__imagem__logo {
    padding: 1em;
    width: 32px;
}

.lista-menu, .lista-menu2 {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}
.container__botao:checked~.lista-menu2 {
    display: block;
}


.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--azul-degrade);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao,
.container__titulo,
.opções {
    display: none;
}

.container__texto {
    display: none;
}

.opções__botão:checked~.opções__rotulo>.opções__item {
    background: var(--verde-claro);
    color: var(--branco);
}

.opções__item {
    padding: 2em 1em;
}

.lista-menu__item:hover {
    background: var(--verde-claro);
}

.lista-menu__item:hover>.lista-menu__link {
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
}


.lista-menu, .lista-menu2 {
    display: none;
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
    background-color: white;
    width: 200px;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 1px 1px 1px black;
}

.lista-menu__item {
    margin-bottom: 5px;
}

.opções__item {
    cursor: pointer;
}

/* Estilo para o submenu quando estiver ativo */
.lista-menu.ativo {
    display: block;
}

.cabecalho {
    position: relative;
    z-index: 1000;
}

.opções__item:hover .lista-menu{
    display: block;
}
.opções__item:hover .lista-menu2{
    display: block;
}


@media screen and (min-width: 1024px) {

    .promocao {
        width: 60vw;
        font-size: 24px;
        margin: 0 auto;
        
    }
    .cabecalho {
        padding: 0 5em;
    }
    
    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-tema);
        font-size: 40px;
        font-weight: 400;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-family: var(--fonte-tema);
        font-size: 50px;
        font-weight: 700;
    }

    .opções {
        display: flex;
        justify-content: center;
        
    }    

    .opções__item {
        text-transform: uppercase;
        padding: 1.5em;
        
    }

    .opções__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente, 
    .cabecalho__menu-hamburguer,
    .opções__botão {
        display: none;
    }

    .opções__botão:checked~.lista-menu {
        display: block;
        width: auto;
    }
    .opções__botão:checked~.lista-menu2 {
        display: block;
        width: auto;
    }
}

@media screen and (min-width: 1728px) {
    .lista-menu , .lista-menu2 {
        display: none;
        position: absolute;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ccc;
        width: 200px;
        margin-top: -36%;
        left: 22%;
        z-index: 1001;
    }
    .lista-menu2 {
        left: 30%;
    }
        
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0 21em;
    }

    .opções {
        margin-right: auto;
        padding-left: 3em;
    }

    .container__texto {
        display: block;
    }
}