.promocao {
    display: flex;
    background-color: var(--verde-claro);
    color: white;
    width: 100vw;
    justify-content: center;
    font-size: 22px;
    align-items: center;
    
    
}

.imagem__promocao {
    margin-bottom: 15px;
    padding-right:10px;

}
.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container__botao:checked~.container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("../img/Menu_Aberto.svg");
}

.container__botao:checked~.container__rotulo {
    background: var(--verde-claro);
}

.cabecalho {
    background-color:var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    z-index: 1000;

}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.container__imagem__logo {
    padding: 1em;
    width: 32px;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--azul-degrade);
    font-weight: 700;
    text-transform: uppercase;
    
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao,
.container__titulo,
.opções {
    display: none;
}

.container__texto {
    display: none;
}

.opções__botão:checked~.opções__rotulo>.opções__item {
    background: var(--verde-claro);
    color: var(--branco);
}

.opções__item {
    padding: 2em 1em;
}

.lista-menu__item:hover {
    background: var(--verde-claro);
}

.lista-menu__item:hover>.lista-menu__link {
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
}


.lista-menu {
    display: none;
    background-color: white;
    width: 200px;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 1px 1px 1px black;
}
.lista-menu__item {
    margin-bottom: 5px;
}

.opções__item {
    cursor: pointer;
}

.lista-menu.ativo {
    display: block;
}

.cabecalho {
    position: relative;
    z-index: 1000;
}

.opções__item:hover .lista-menu {
    display: block;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    
}

.cards {
    margin: 10px;
    background-color: var(--branco);
    width: 280px;
    height: 450px;
    border: 0.5px solid lightgray;    
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 15px;
    font-family: var(--fonte-cards);
    font-size: 15px;
}

.cards img {
    width: 80%;
    height: 50%;
    border-radius: 12px;
    margin: 20px
}

#estrelas  {
    width: 7em;
    margin-top: 1em;
    margin-left: auto;
}
.main strong {
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    .lista-menu {
        display: none;
        position: absolute;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ccc;
        width: 12em;
        margin-top: -70.4vh;        
        z-index: 1001; 
    }
    .lista-menu-bug {
        margin-top: -68.5vh;
    }


    .promocao {
        width: 60vw;
        font-size: 24px;
        margin: 0 auto;
        
    }
    .cabecalho {
        padding: 0 5em;
    }
    
    .container__titulo,
    .container__titulo--negrito, a {
        font-family: var(--fonte-tema);
        font-size: 40px;
        font-weight: 400;
        text-decoration: none;
        color: black;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
        
    }

    .container__titulo--negrito {
        font-family: var(--fonte-tema);
        font-size: 50px;
        font-weight: 700;
    }

    .opções {
        display: flex;
        justify-content: center;
        
    }    

    .opções__item {
        text-transform: uppercase;
        padding: 1.5em;
        
    }

    .opções__link {
        text-decoration: none;
        color: var(--preto);
    }
    .opções__link:hover {
        color: var(--branco);
    }

    .container__imagem-transparente, 
    .cabecalho__menu-hamburguer,
    .opções__botão {
        display: none;
    }

    .opções__botão:checked~.lista-menu {
        display: block;
        width: auto;
    }
 
}

@media screen and (min-width: 1728px) {
    .lista-menu {
        display: none;
        position: absolute;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ccc;
        width: 12em;
        margin-top: -36%;        
        z-index: 1001;  
        
    }
    .lista-menu-bug {
        margin-top: -75.5vh;
    }
            
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0 21em;
    }

    .opções {
        margin-right: auto;
        padding-left: 3em;
    }

    .container__texto {
        display: block;
    }
}